* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}

.main-section {
  background-image: url(img/header-illsutration-mobilebg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.mobile-header-container {
  /* border: 2px solid blue; */

  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  background-color: white;
  flex-wrap: wrap;
}

.mobile-header-container > a {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  text-decoration-line: none;
  color: black;
}

.mobile-header-container > nav {
  padding-top: 8px;
}

.desktop-header-container {
  display: none;
}

.desktop-header-container nav {
  margin: auto;
}

/* =============== */
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255); /* Black fallback color */
  /* background-color: rgba(0,0,0, 0.9); Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  /* transition: 0.5s; 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay-content a {
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44p;
    
  
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: -12px;
  right: 16px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* =============== */

.nav-list {
  width: 255px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-btn {
  position: static;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.headline-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 24px;
  align-items: center;
}

.headline {
  margin-top: 52px;
  text-align: center;
  padding: 3px;
  font-size: 40px;
  font-family: Poppins, sans-serif;
}

.box-item {
  margin-bottom: 40px;
}

.headline > span {
  color: #36b37e;
}

.headline-container > p {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #172b4d;
  text-align: center;
  padding: 5px;
}

.aboutme-container > p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

.social-icons {
  width: 50%;
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons > li {
  display: inline;
}

.work-grid {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  margin: 15px;
}

.works {
  display: grid;
}

.action-btn {
  text-align: center;
}

.grid-item {
  background-color: white;
  display: flex;
  height: 580px;
  flex-direction: column;
  margin: -6px -6px;
  border: 1px solid #e5e5e5;
  border-radius: 3%;
}

.grid-item img {
  width: 100%;
  height: 220px;
}

.flex-item2 {
  text-align: center;
}

.flex-item2 h2 {
  color: #172b4d;
  font-weight: bold;
  font-size: 32px;
  font-family: Poppins, sans-serif;
}

.flex-item3 ul {
  list-style-type: none;
}

.fix {
  text-align: center;
  color: #36b37f;
}

.box-item button {
  border-radius: 8px;
  border: none;
  height: 50px;
  width: 200px;
  text-align: center;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #36b37f;
  margin-top: 30px;
}

.flex-item4 {
  border-radius: 8px;
  border: none;
  height: 50px;
  width: 140px;
  text-align: center;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #36b37f;
  margin-top: 30px;
  align-self: center;
}

.fixx {
  border-radius: 8px;
  border: none;
  height: 50px;
  width: 200px;
  text-align: center;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #36b37f;
  align-self: center;
}

button:active {
  background-color: #008552;
  border-radius: 4px;
}

button:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.pill-btn {
  font-size: 14px;
  font-family: Poppins, sans-serif;
  color: #3a4a42;
  border-radius: 5px;
  text-align: justify;
  background: #d0d9d4;
  padding: 5px 10px;
}

.inner-flex-item {
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}

.aboutme-wrap {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.aboutme-wrap p {
  font-weight: 400;
  font-size: 25px;
  font-family: Poppins, sans-serif;
  color: #42526e;
  line-height: 32px;
  text-align: center;
}

.aboutme-container {
  background-image: url("./img/abt-left.png"), url("./img/abt-bbgg.png");
  background-position: left bottom, 120% 0%;
  background-repeat: no-repeat, no-repeat;
}

.skills {
  display: grid;
}

.skills-container {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 15px;
}

.skills-title {
  position: static;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.skill-details {
  position: static;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.inner-skill-item {
  display: flex;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin-bottom: 24px;
}

.skill-btn {
  position: static;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  text-align: justify;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  margin: 5px;
}

.skills-icon {
  margin-top: 38px;
}

.form {
  background-image: url("./img/form-bg.png");
  background-position: 100% 85%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 100%;
  padding: 64px 24px;
  margin-top: 100px;
}

.form h2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 58px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  position: static;
  margin: auto;
}

.form-item {
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
}

.form-container input {
  flex-grow: 1;
  width: 327px;
  height: 48px;
  margin-bottom: 24px;
  padding: 16px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

.form-container textarea {
  padding: 12px;
  flex-grow: 3;
  width: 327px;
  height: 114px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}

.form-container button {
  border-radius: 8px;
  border: none;
  height: 50px;
  width: 140px;
  text-align: center;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #36b37f;
  margin-top: 30px;
  align-self: center;
}

.email-to {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  align-self: center;
  color: #42526e;
  margin: auto;
  margin-top: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-social-icons {
  margin: auto;
  margin-top: 24px;
  align-self: center;
}

.hide-on-mobile-screen {
  display: none;
}

.gray-line {
  width: 0;
}

@media (min-width: 992px) {
  .main-section {
    background-image: url(img/Header-llustration-desktop@2x.png);
  }

  .headline-container {
    margin: auto;
    padding: 150px 300px;
  }

  /* toggle header */

  /* .mobile-header-container {
    display: none;
  } */

  .desktop-header-container {
    display: flex;
  }

  .work-grid {
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 1171px;
    margin: auto;
  }

  .aboutme-wrap {
    padding: 50px 250px;
  }

  .aboutme-container {
    background-image:
      url("./img/left-bg-aboutme-desktop.png"),
      url("./img/right-bg-aboutme-desktop.png");
    background-position: 0% 60%, 100% 30%;
    background-repeat: no-repeat, no-repeat;
  }

  .skills {
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 1171px;
    margin: auto;
  }

  .form {
    background-image:
      url(./img/bg-left-form.png),
      url(./img/bg-mid-form.png),
      url(./img/bg-right-form.png);
    background-position: 0% 100%, 30% 100%, 100% 100%;

    /* width: 1171px; */
    padding: 130px;
    margin: auto;
    display: grid;
    grid-template-columns: 39% 58.4%;
  }

  .footer-social-icons {
    margin: 15px;
    justify-content: center;
  }

  .footer-social-icons li {
    margin: 0 20px;
  }

  .email-to {
    display: none;
  }

  .form-container {
    margin: 20px;
    width: 100%;
  }

  .form h2 {
    text-align: left;
    font-size: 25px;
    margin-top: 15%;
  }

  #firstName {
    margin-right: 5px;
  }

  #lastName {
    margin-left: 5px;
  }

  #mail,
  #msg {
    width: auto;
  }

  .form-container button {
    align-self: start;
  }

  .hide-on-desktop-screen {
    display: none;
  }

  .hide-on-mobile-screen {
    display: flex;
  }

  .gray-line {
    width: 100%;
    color: #dfe1e6;
  }

  .nav-btn a {
    text-decoration: none;
    color: #344563;
  }
}
